.app {
  text-align: center;
  min-height: 100%;
  flex-direction: column;
}

.app,
header {
  display: flex;
}

header {
  background-image: linear-gradient(135deg, #9cc8f8 0%, #fa8ce4 100%);
  margin: 40px;
  box-shadow: 0 0 10px #888888;
  border-radius: 20px;
  justify-content: center;
}

main {
  padding-bottom: 30px;
}

footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  padding: 0.5em 0;
  background-color: #ffffffb3;
  z-index: 11;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #b8b8b8;
}

input:-ms-input-placeholder {
  /* IE 10+ */
  color: #b8b8b8;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #b8b8b8;
  opacity: 1;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #b8b8b8;
  opacity: 1;
}

.center {
  flex: 1;
  max-width: 720px;
}

.logo {
  color: white;
  font-size: 3.9rem;
  font-weight: 700;
  margin-top: 15px;
}

.description {
  color: white;
  font-size: 1.26rem;
  margin-bottom: 10px;
}

.center {
  flex: 1;
  max-width: 720px;
}

.options {
  color: white;
  margin: 4px 0;
}

.options label {
  margin: 0 8px
}

label {
  display: inline-block;
  cursor: pointer;
}

.options input[type=checkbox] {
  width: 15px;
  height: 13.6px;
  margin-right: 5px;
}

.options input[type=checkbox]::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  text-align: center;
  background-color: white;
  border-radius: 2.8px;
}

.options input[type=checkbox]:checked::before {
  position: absolute;
  background-color: #00ff84;
  width: 13px;
  height: 13px;
  text-align: center;
  border: solid 1px black;
  border-radius: 2.8px;
}

@supports(-webkit-touch-callout: none) {
  .options input[type=checkbox] {
    width: 16px;
    height: 16px;
  }

  .options input[type=checkbox]::before {
    width: 16px;
    height: 16px;
  }

  .options input[type=checkbox]:checked::before {
    width: 14px;
    height: 14px;
  }
}

.search {
  height: 45px;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 35px;
  margin-top: 20px;
}

.search-input {
  height: 45px;
  width: 20px;
  flex: 1;
  padding: 0 10px;
  border: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 0px;
  font-size: 1rem;
  outline: none;
}

.search-button {
  height: 45px;
  width: 48px;
  display: flex;
  border: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #22b5ff;
  align-items: center;
  transition: background-color 0.35s;
}

.search-button:hover {
  background: #2a7efb;
}

.search-icon {
  height: 30px;
  width: 30px;
  flex: 1;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  header {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .options label {
    margin: 0 4px;
  }
}

@media screen and (max-width: 360px) {
  header {
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    border-radius: 0px;
  }

  .search {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 30px;
  }

  .options label {
    margin: 0 4px;
  }
}