body,
html {
  height: 100%
}

body {
  margin: 0;
  padding: 0;
  font-family: "MiSans", sans-serif;
  background-image: url(./background.png);
}

@font-face {
  font-family: "MiSans";
  src: url("./MiSans.woff2");
}

#root {
  height: 100%;
}