.result {
  width: 256px;
  margin: 20px;
}

.icon {
  height: 256px;
  width: 256px;
}

.platform {
  font-size: 0.7rem;
}

.trackName {
  font-size: 1rem;
}

.artistName {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
}

a:link {
  color: #000000;
}

a:hover {
  color: #6ee48d;
}

a:active {
  color: #ffcc7a;
}

a:visited {
  color: #ff8383;
}